.toggle {
  position: relative;
  display: flex;
  align-items: center;
  width: 10rem;
  height: 4.8rem;
  padding: var(--semantic-space-8);
  border: none;
  cursor: pointer;
  background-color: var(--surface-primary);
  border-radius: 4.8rem;
  transition: background-color var(--hover-transition);
}

.toggle:hover:not(:disabled) {
  opacity: var(--hover-opacity);
}

.toggle:focus-visible {
  outline: 0.2rem solid var(--surface-accent);
  outline-offset: 0.2rem;
}

.toggle:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.handle {
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  z-index: 1;
  left: var(--semantic-space-8);
  top: 50%;
  transform: translateY(-50%) translateX(0);
  transition: transform 0.3s ease;
}

.toggle.on .handle {
  transform: translateY(-50%) translateX(5.2rem);
}

.handleImage {
  display: block;
  width: 100%;
  height: 100%;
}

.shadow {
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: inherit;
  box-shadow: var(--shadow-inner-small);
}
