.outerCard {
  width: 100%;
  max-width: 38rem;
  aspect-ratio: 444 / 553;
  background-color: var(--surface-secondary);
  border: 0.3rem dashed var(--surface-neutral);
  border-radius: var(--border-radius-xs);
  border-image: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  flex-shrink: 0;
  transition: border-style var(--hover-transition);
  cursor: pointer;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .outerCard {
    max-width: 32rem;
  }
}

@media (max-width: 768px) {
  .outerCard {
    max-width: 85%;
    flex-shrink: 1;
    aspect-ratio: 1 / 1.5;
    border: none;
  }
}


.outerCard:hover {
  border-style: solid;
}
@media(max-width: 768px) {
  .outerCard:hover {
    border-style: none;
  }
}

.innerCard {
  width: 100%;
  background-color: var(--surface-primary);
  border-radius: var(--border-radius-xs);
  box-shadow: var(--shadow-drop-medium);
  padding: 3.3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media (max-width: 768px) {
  .innerCard {
    padding: var(--space-xl);
    gap: var(--space-xl);
  }
}

.imageFrame {
  width: 100%;
  max-width: 34rem;
  aspect-ratio: 330 / 390;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .imageFrame {
    max-width: 28rem;
  }
}

@media (max-width: 768px) {
  .imageFrame {
    max-width: 100%;
    aspect-ratio: 3 / 4;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: 0.1rem solid var(--surface-primary);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  width: 100%;
}

.name {
  font-family: var(--typography-content-xl-family);
  font-size: var(--typography-content-xl-size);
  line-height: var(--typography-content-xl-line-height);
  font-weight: var(--typography-content-xl-weight);
  color: var(--text-primary);
  margin: 0;
  width: 100%;
}

.role {
  font-family: var(--typography-content-lg-family);
  font-size: var(--typography-content-lg-size);
  line-height: var(--typography-content-lg-line-height);
  font-weight: var(--typography-content-lg-weight);
  color: var(--text-secondary);
  margin: 0;
  width: 100%;
}
