.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo.white {
  background-color: var(--surface-primary);
  padding: var(--space-md);
  border-radius: var(--border-radius-xs);
}

.logo.transparent {
  padding: var(--space-md);
  border-radius: var(--border-radius-xs);
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
